include layouts/mainLayout
doctype html
head
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='../public/css/main.css')
    script(src='/js/bootstrap.js' type='application/javascript')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
    title About Us

    .container
    h2  Page Not Found!
|     Sorry this page is not found. Please click the home button above.