include Layouts/mainLayout
doctype html
head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/js/bootstrap.js', type='application/javascript')
    title Personality Perfect!
h2.card-title  Personality Perfect
div
    select#q1(name='q1')
        option(value='0', selected='selected')  A little
        option(value='1')  Sometimes
        option(value='2')  As much as possible
    select#q2(name='q1')
        option(value='0', selected='selected')  A little
        option(value='1')  Sometimes
        option(value='2')  As much as possible
    select#q3(name='q1')
        option(value='0', selected='selected')  A little
        option(value='1')  Sometimes
        option(value='2')  As much as possible
    select#q4(name='q1')
        option(value='0', selected='selected')  A little
        option(value='1')  Sometimes
        option(value='2')  As much as possible
    select#q5(name='q1')
        option(value='0', selected='selected')  A little
        option(value='1')  Sometimes
        option(value='2')  As much as possible
    select#q6(name='q1')
        option(value='0', selected='selected')  A little
        option(value='1')  Sometimes
        option(value='2')  As much as possible
    select#q7(name='q1')
        option(value='0', selected='selected')  A little
        option(value='1')  Sometimes
        option(value='2')  As much as possible
    select#q8(name='q1')
        option(value='0', selected='selected')  A little
        option(value='1')  Sometimes
        option(value='2')  As much as possible
    select#q9(name='q1')
        option(value='0', selected='selected')  A little
        option(value='1')  Sometimes
        option(value='2')  As much as possible
