<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src='/js/bootstrap.js' type='application/javascript'></script>
    <title>Personality Perfect!</title>
</head>
<body>
   <h2 class = "card-title"> Personality Perfect </h2>

   <div class="col">
       Question 1:

   </div>
   <div class ="col">
       <select id = "q1" name = "q1">
           <option value = "0" selected = "selected"> A little </option>
           <option value = "1" > Sometimes </option>
           <option value = "2" > As much as possible </option>
       </select>
   </div>







</body>
</html>